<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="支付平台测试套件">
    <test name="代付测试用例">

    </test>
    <listeners>
        <!--此监听器使用时，无翻墙工具无法加载css-->
        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>
        <listener class-name="com.guazi.paym.autotest.config.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>